body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-color: #F5F5F5;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 100vh;
}

.container {
    background-image: url(images/table.png);
    background-size: 800px;
    margin:  100px auto;
    border: 8px solid goldenrod;
    border-radius: 10px;
    width: min(800px, 90%);
}

h1 {
    color: goldenrod;
    font-size: 3rem;
}

#message-el {
    font-style: italic;
    font-size: clamp(1rem, 6vw, 2rem);
}

.p-el {
    font-size: clamp(1rem, 5vw, 2rem);
}


button {
    color: #016f32;
    width: 250px;
    background: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    font-size: 18px;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #D3AF54;
}