body {
    text-align: center;
    margin-top: 3rem;
    width: 100%;
    background-color: #EEEEEE;
}

.container {
    margin: auto;
    border: 7px solid white;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(800px, 90%);
}

.top {
    background-color: hsl(254, 67%, 55%);
    color: white;
    width: 100%;
    padding: 20px;
}

.top h1 {
    font-size: clamp(1.5rem, 7vw, 2.8rem);
    padding-top: 10px;
}

#input-el {
    background-color: hsl(254, 67%, 55%);
    border: 1px solid hsl(254, 32%, 76%, 0.8);
    border-radius: 5px;
    width: 150px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

#convertBtn {
    background-color: white;
    color: hsl(254, 56%, 26%);
    width: min(250px, 50%);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
    font-size: clamp(1rem, 4vw, 2rem);
    font-weight: bold;
    border: none;
    transition: transform 0.2s ease;
    cursor: pointer;
}

#convertBtn:hover {
    transform: scale(1.1);
}

.bottom {
    background-color: #EFEEEE;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom h5 {
    color: hsl(254, 56%, 26%, 0.8);
    font-size: clamp(1rem, 5vw, 1.7rem);
    margin-bottom: 5px;
}

.bottom p {
    font-size: clamp(0.7rem, 4.4vw, 1.4rem);
    font-weight: bold;
    padding-bottom: 5px;
}

.infoCenter {
    background-color: white;
    margin: 0px 15px;
    height: 150px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}